* {
    margin: 0;
    padding: 0;
    user-select: none;
    text-transform: capitalize;
}

body {

    height: 100vh;
    margin: 0;
    background: linear-gradient(-45deg, purple, pink, violet, deeppink);
    background-size: 400% 400%;
    animation: gradientAnim 10s ease infinite;
}

@keyframes gradientAnim {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }

}

.container {
    display: flex;
    justify-content: center;
}

.wrap {
    border: 1px solid black;
    width: 450px;
    height: 300px;
    display: flex;
    flex-direction: column;
    row-gap: 25px;
    align-items: center;
    justify-content: center;
    /* margin-left: 39%; */
    margin-top: 5%;
}

.top {
    display: flex;
    flex-direction: column;
    row-gap: 25px;
}

input {
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    border-bottom: 1px solid black;
    font-size: larger;
}

.mid {
    font-size: larger;
}

button {
    padding: 8px 25px;
    border-radius: 20px;
    font-size: larger;
    cursor: pointer;
}

.hesapla {
    background-color: rgb(31, 161, 31);
    border: none;
    transition: all 0.5s
}

.hesapla:hover {
    background-color: green;
}

.temizle {
    background-color: rgb(230, 24, 24);
    border: none;
    transition: all 0.5s
}

.temizle:hover {
    background-color: rgb(199, 0, 0);
}